<VirtualHost *:{{ httpd_port }}>

    ServerName {{ hostname }}

    DocumentRoot /var/www/html/{{ hostname }}
     <Directory /var/www/html/{{ hostname }}>
        AllowOverride All
        Require all granted
    </Directory>
    DirectoryIndex index.php index.html
</VirtualHost>
